.heartpage { 
	font-size: 50px;
text-align: center;
align-items: center;



}

h1,h2{
	font-size: 100pt;

  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);


                 

}




.btn{
  background: #66CDAA;
  height: 50px;
  min-width: 150px;

  border-radius: 10px;
  color: white;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  margin-left: 13em;
  margin-top: -1em;
}
.myimage{
  height: 250px;

  float: right;
  margin-top: -14em;
  margin-right: 15em;
}
 
		


body{

	
  background-image: url("universe.jpg");
  
	}
  .earth{
    font-size: 20px;
    text-align:left;
    background-color: #00ffff;
    opacity: 0.5;
  
  }
  .h{
    margin-top:0em;
}
  
.p{
   margin-top: -3em;
   background-color: white;
     font-family: 'Cookie', cursive;
  float: left;
 }





* {
  box-sizing: border-box;
}

:root {
  --background: #E5FFB3;
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
   --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}
.btn1,.btn2, .btn3  {display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
 
}
#p1,#p2,#p3,#p4 {
 display: block;
 cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  background-position: 50% 50%;
  width: 400px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
  text-align: center;
}




  
   
 


 